/* External imports first */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

/* Then Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import "tailwindcss";
/* Custom CSS */

html {
  scroll-behavior: smooth;
  
}

button {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
